* {
    margin: 0;
    padding: 0;
}

:root {
    --soulCodeAzul: #59b5c4;
    --soulCodeAmarelo: #f3c110;
    --soulCodeCinza: #f0eff2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-variant: small-caps;
}

body {
    background-image: url(img/ouro.jpg);
    background-size: cover;
}

header {
    border: 60px solid transparent;
    /* para a imagem esticar e 64 deixa sem resíduos */
    border-image: url(img/logosoulcode1-removebg-preview.png) 64 round;
    border-image-repeat: stretch;

}

#sorteio {
    font-size: 1.8rem;
    font-weight: bold;
    word-spacing: 2rem;
}
#fixed {
    background-image: url(img/dolar.jpg);
}

